<!DOCTYPE html>
<html lang="en">

<head>
    <title>Studio Ghibli App</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
    <div id="ghibliMovies" v-cloak>
        <!-- Application Title and tagline-->
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1 class="display-2">{{ appName }}</h1>
                    <p class="lead">Information on Studio Ghibli's Movies, Characters and More!</p>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Nav Bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <input type="text" class="form-control mr-sm-2" placeholder="Search for Movie" v-model="movieSearched" aria-label="Search">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" v-on:click="searchMovies">Search</button>
                    </div>
                </div>
            </nav>

            <div v-cloak class=" container ">
                <div class="row ">
                    <div class="col-lg ">
                        <!-- Welcome and Prompt to user -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="card">
                                        <div style="display: flex; flex: 1 1 auto;">
                                            <div class="img-square-wrapper">
                                                <img src="movie-img/ghibli_logo.jpg" alt="logo" style="width:500px;height:400px;" />
                                            </div>
                                            <div class="card-body">
                                                <h2 class="card-title"> WELCOME! </h2>
                                                <p class="card-text"> This vue application allows you to search the Studio Ghibli API. To get started you can click the "Films" category on the navigation bar or you may use the search bar to look for a specific movie!</p>
                                                <h2> Found: {{ numOfMovies }} Result(s) </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- When User makes search -->
                        <!-- Display movie title -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mt-3" v-show="visible">

                                    <div class="card" v-for="film in films">
                                        <div style="display: flex; flex: 1 1 auto;">
                                            <div class="img-square-wrapper">

                                                <button type="submit" class="btn btn-success btn-circle btn-xl" v-model="movieSelected = film.id" v-on:click="selectMovie(); visible = false">Select</button>
                                                <!-- <img class="img-thumbnail" v-for="img in images" v-if="film.id === img.id" v-bind:src="img.src" style="width: 200px; height: 200px;" alt="mov-img"> -->

                                            </div>
                                            <div class="card-body">
                                                <h2 class="card-title">{{ film.title }} ({{ film.release_date }})<span class="float-right">Rating: {{film.rt_score}}</span></h2>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Display single Movie information and picture that goes along with movie -->
                        <!-- <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="card" v-for="">
                                        <div style="display: flex; flex: 1 1 auto;">
                                            <div class="img-square-wrapper">
                                                <img class="img-thumbnail" v-for="img in images" v-if=".id === img.id" v-bind:src="img.src" style="width: 200px; height: 200px;" alt="mov-img">
                                            </div>
                                            <div class="card-body">
                                                <h2 class="card-title">{{ film}}</h2>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js "></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js "></script>
        <script src="app.js " type="text/javascript "></script>

    </div>
</body>

</html>